.activate{
    width: 135px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;

    background: linear-gradient(to right, #CAB8FF, #FA897B);
    box-shadow: 0 0 10px;
    border: 0;

    font-size: 20px;
    font-weight: bold;

    position: fixed;
    top: 50%;
    left: 88%;

    z-index: 999;
    animation: btn 3s infinite;
}

.activate:hover{
    scale: 1.1;
    animation: none;
}

@keyframes btn{
    0% {transform: scale(1)}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}